<% include ./partials/header.ejs %>
<h1>THiees iss a looggiiinn  paagyyyeee</h1>

<form action="/login" method="POST">
	<input type="name" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>Log In</button>
</form>

<% include ./partials/footer.ejs %>